@use './../../assets/styles/variables.scss' as *;
.header {
  box-shadow: 0px 4px 4px 0px #00000040;
  background: $color-black;
  width: 100%;
  display: flex;
  padding: 1rem;
  &-logo {
    display: flex;
    &-ctn {
      a {
        display: flex;
        // justify-content: space-between;
        text-decoration: none;
      }
      width: 20%;
    }
  }
  &-title {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    color: $color-red;
  }
  &-menu {
    display: flex;
    width: 80%;
    align-items: center;
    &-list {
      display: flex;
      width: 100%;
      color: $color-white;
      justify-content: space-around;
      list-style: none;
      &-item {
        a {
          text-decoration: none;
          color: $color-white;
          font-weight: 500;
          font-size: 1.2rem;
          &:hover {
            color: $color-white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
