@import "tailwindcss";
@theme {
  --color-primary: oklch(0.628 0.2577 29.23);
  --color-primary-dark: oklch(0.581 0.238 29.23);

  --font-family-base: "Roboto", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-family-base);
  }

  a {
    color: var(--color-primary-dark);
  }
  a:hover {
    text-decoration: underline;
  }
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: grid;
  grid-template-rows: 6rem 1fr;
  width: 100%;
}
