:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: grid;
  grid-template-rows: 6rem 1fr;
  width: 100%;
}
